<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ParaBank Suite">
<listeners>
    <listener class-name="Utils.TestListener"/>
</listeners>
    <test name="ParaBank Tests">

        <classes>

            <class name="Tests.RegistrationTest"/>
            <class name="Tests.LoginTest"/>


            <class name="Tests.OpenAccountTest"/>

            <class name="Tests.TransferFundsTest"/>

            <class name="Tests.BillPayTest"/>

        </classes>

    </test>

</suite>